:root {
  --primary-text-color: #757575;
  --footer-address-color: rgba(255, 255, 255, 0.6);
  --secondary-color: #212121;
  --accent-color: #2196f3;
  --footer-address-color: rgba(255, 255, 255, 0.6);
  --bg-secondary-color: #2f303a;
  --primary-icon-color: #afb1b8;
}
body {
  font-family: Roboto, sans-serif;
  font-style: normal;
  font-size: 14px;
  letter-spacing: 0.03em;
  color: var(--primary-text-color);
  background-color: #ffffff;
}

ul {
  list-style: none;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

.container {
  width: 1200px;
  padding-left: 15px;
  padding-right: 15px;
  margin: 0 auto;
}

.container.main-nav {
  display: flex;
  align-items: center;
}

.main-nav {
  display: flex;
  align-items: center;
}

.main-nav > nav {
  display: inline-flex;
  align-items: center;
}

.site-nav {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  margin-top: 0;
  margin-bottom: 0;
  padding-left: 0;
  margin-left: 94px;
}

.site-nav .item:not(:last-child) {
  margin-right: 50px;
}

.header-address a:not(:last-child) {
  margin-right: 30px;
}

.header-address {
  margin-left: auto;
}

/* Logo */
.logo {
  display: block;
  color: var(--accent-color);
  font-family: Raleway, sans-serif;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.2;
  text-decoration: none;
}

.logostudio {
  color: #000000;
}

footer .logostudio {
  color: #ffffff;
}

.site-nav .link {
  display: inline-flex;
  position: relative;
  color: var(--secondary-color);
  font-weight: 500;
  line-height: 1.14;
  letter-spacing: 0.02em;
  text-decoration: none;
  padding-top: 25px;
  padding-bottom: 25px;

  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.site-nav .link:hover,
.site-nav .link:focus {
  color: var(--accent-color);
  text-decoration: none;
}

.site-nav .link.current {
  color: var(--accent-color);
}

.link.current::after {
  position: absolute;
  display: block;
  bottom: 0;
  left: 0;
  width: 100%;
  content: "";
  height: 4px;
  border-radius: 2px;
  background-color: var(--accent-color);
}

.header-address .link {
  color: var(--primary-text-color);
  font-weight: 500;
  line-height: 1.14;
  letter-spacing: 0.02em;
  font-style: normal;
  text-decoration: none;
  fill: var(--primary-text-color);

  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1),
    color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.header-address .link:hover,
.header-address .link:focus {
  color: var(--accent-color);
  fill: var(--accent-color);
  text-decoration: none;
}

.address-icon {
  margin-right: 10px;
}

.main-title {
  margin-top: 0;
  margin-bottom: 30px;

  color: #ffffff;
  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  text-align: center;
  letter-spacing: 0.06em;
  text-transform: uppercase;
}
.main-section {
  text-align: center;
  max-width: 1600px;
  max-height: 600px;
  margin-left: auto;
  margin-right: auto;
  background-image: linear-gradient(
      to right,
      rgba(47, 48, 58, 0.4),
      rgba(47, 48, 58, 0.4)
    ),
    url("../images/heroimage.jpg");
  background-repeat: no-repeat;
  background-position: center;

  padding-top: 200px;
  padding-bottom: 200px;
  background-color: var(--bg-secondary-color);
}
.order-button {
  display: inline-block;
  text-align: center;
  padding: 10px 32px;
  border: 1px solid var(--accent-color);
  border-radius: 4px;

  color: #ffffff;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.88;
  text-decoration: none;
  background: var(--accent-color);

  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    background 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.order-button:hover {
  color: var(--accent-color);
  background: #ffffff;
}

.section-title {
  text-align: center;
  margin-top: 0;
  margin-bottom: 50px;
  font-weight: 700;
  font-size: 36px;
  line-height: 1.17;
  color: var(--secondary-color);
}

.advantages-section {
  padding-top: 94px;
  padding-bottom: 94px;
}
.advantages {
  display: flex;
  padding: 0;
}

.advantage-item {
  width: calc((100% - 90px) / 4);
  margin-right: 30px;
  min-height: 101;
}

.advantage-item:nth-child(4n) {
  margin-right: 0;
}

.advantage-item .text {
  display: inline;
  flex-wrap: wrap;
  margin-top: 0;
  font-size: 14px;
  line-height: 1.71;
}

.advantage-title {
  margin-top: 0;
  margin-bottom: 10px;

  color: var(--secondary-color);
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  text-transform: uppercase;
}

.advantage-icon {
  display: inline-flex;
  content: "";
  width: 270px;
  height: 120px;
  border-radius: 4px;
  background-color: #f5f4fa;
  padding-bottom: 25px;
  padding-top: 25px;
  margin-bottom: 30px;
}

.activities {
  display: flex;
  margin-top: 0;
  margin-bottom: 0;
  padding: 0;
}

.activities-section {
  padding-bottom: 94px;
}

.activity-item::before {
  position: absolute;

  content: "";
  margin: 0;
  padding: 0;
  width: 100%;
  height: 70px;
  bottom: 0;
  left: 0;
  background-color: rgba(47, 48, 58, 0.8);
}

.activity-item {
  width: calc((100% - 60px) / 3);
  margin-right: 30px;
  position: relative;
  color: #ffffff;
  text-transform: uppercase;
  text-align: center;
}

.activity-title {
  position: absolute;
  display: block;
  margin: 0;
  padding: 0;
  bottom: 27px;
  width: 370px;
}

.activity-item:nth-child(3n) {
  margin-right: 0;
}

.section-team {
  background-color: #f5f4fa;
  padding-top: 94px;
  padding-bottom: 94px;
}

.team-members {
  display: flex;
  margin-top: 0;
  margin-bottom: 0px;
  padding: 0;
}

.team-member {
  width: calc((100% - 90px) / 4);
  margin-right: 30px;

  background-color: #ffffff;

  border-radius: 0px 0px 4px 4px;

  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
}

.team-member:nth-child(4n) {
  margin-right: 0;
}

.photo-name {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.19;
  text-align: center;
  color: var(--secondary-color);
}

.position-title {
  font-size: 16px;
  line-height: 1.19;
  text-align: center;
}

.social-links {
  display: flex;
  list-style: none;
  padding: 0;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 30px;
  width: 206px;
  height: 44px;
}

.social-links .link {
  width: calc((100% - 30px) / 4);
  margin-right: 10px;
  border-radius: 50%;
}
.social-links .link:nth-child(4n) {
  margin-right: 0;
}

.link-icon {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 44px;
  width: 44px;
  border-radius: 50%;
  fill: var(--primary-icon-color);
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.link-icon:hover,
.link-icon:focus {
  background-color: var(--accent-color);
  fill: #ffffff;
}

.client-section {
  padding-top: 94px;
  padding-bottom: 94px;
}
.clients {
  display: flex;
  list-style: none;
  padding: 0;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 30px;
  width: 1170px;
}

.client {
  display: flex;
  width: calc((100% - 150px) / 6);
  margin-right: 30px;
}
.client .client-link:nth-child(6n) {
  margin-right: 0;
}

.client-link {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 170px;
  height: 90px;
  border-radius: 4px;
  border: 1px solid var(--primary-icon-color);
  fill: var(--primary-icon-color);

  transition: border 250ms cubic-bezier(0.4, 0, 0.2, 1),
    fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.client-link:hover {
  border: 1px solid var(--accent-color);
  fill: var(--accent-color);
}

/* Portfolio */

.portfolio-mainsection {
  padding-top: 94px;
  padding-bottom: 94px;
  border-top: 1px solid #ececec;
}

.portfolio-buttons {
  display: flex;
  padding-left: 0;
  justify-content: center;
  margin-top: 0;
  margin-bottom: 50px;
}

.portfolio-button:not(:last-child) {
  margin-right: 8px;
}

.portfolio-button button {
  padding: 6px 22px;
  left: 576px;
  top: 174px;
  border: 1px solid #f5f4fa;
  background: #f5f4fa;
  border-radius: 4px;
  color: var(--secondary-color);
  font-weight: 500;
  font-size: 16px;
  line-height: 1.63;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    border 250ms cubic-bezier(0.4, 0, 0.2, 1),
    box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.portfolio-button button:hover,
.portfolio-button button:focus {
  color: #ffffff;
  background-color: var(--accent-color);
  border: 1px solid var(--accent-color);
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08),
    0px 2px 2px rgba(0, 0, 0, 0.12);
}

.projects {
  display: flex;
  flex-wrap: wrap;
  padding: 0;
  margin: 0;
}

.project {
  width: calc((100% - 60px) / 3);
  margin-right: 30px;
  margin-bottom: 30px;
  padding: 0;

  transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.project:hover {
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06),
    1px 4px 6px rgba(0, 0, 0, 0.16);
}
.project:nth-child(3n) {
  margin-right: 0;
}

.project:nth-last-child(-n + 3) {
  margin-bottom: 0;
}

.project-description {
  border-left: 1px solid #eeeeee;
  border-right: 1px solid #eeeeee;
  border-bottom: 1px solid #eeeeee;
  padding: 20px 24px;
}

.project-link {
  text-decoration: none;
  display: block;
}
.project-link > img {
  display: block;
}
.project-title {
  text-decoration: none;
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
  color: var(--secondary-color);
  margin-top: 0;
  margin-bottom: 4px;
}

.project-type {
  font-size: 16px;
  line-height: 1.87;
  color: var(--primary-text-color);
  margin-top: 0;
}

.project-picture {
  position: relative;
  overflow: hidden;
}

.project-overlap {
  position: absolute;
  margin: 0;
  top: 0;
  right: 0;
  padding: 63px 24px;

  background-color: rgba(33, 150, 243, 0.9);
  color: #ffffff;
  font-size: 18px;
  line-height: 1.56;
  border: none;

  transform: translateY(100%);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.project:hover .project-overlap {
  transform: translateY(0);
  opacity: 1;
}

footer {
  padding-top: 60px;
  padding-bottom: 60px;
  background-color: var(--bg-secondary-color);
  color: #ffffff;
  font-style: normal;
}

footer .container {
  display: flex;
  align-items: center;
}

footer .social-links {
  margin-top: 22px;
  margin-bottom: 0;
}

.address-line:not(:last-child) {
  margin-bottom: 9px;
}

.footer-address.list {
  padding-left: 0;
  margin-top: 0;
  margin-bottom: 0;
  display: inline-block;
  font-style: normal;
}

.footer-address .link {
  color: var(--footer-address-color);
  text-decoration: none;
}
.footer-address p {
  margin-top: 20px;
  margin-bottom: 0;
}

.address-line {
  display: inline-block;
  text-decoration: none;
}

.contact {
  display: inline-block;
}
.joinus {
  display: inline-block;
  text-transform: uppercase;
  text-align: left;
  width: 206px;
  font-family: Roboto;
  font-style: normal;
  font-weight: bold;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  margin-right: 0;
  margin-left: 70px;
}

footer .link-icon {
  background-color: rgba(255, 255, 255, 0.1);
  fill: #ffffff;
}

.subscribe {
  display: inline-block;
  text-transform: uppercase;
  text-align: left;
  margin-left: 93px;
  font-family: Roboto;
  font-style: normal;
  font-weight: bold;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
}

.subscribe button {
  display: inline-flex;
  align-items: center;
  margin-left: 12 px;
  padding: 10px 29px;
  border: 1px solid var(--accent-color);
  border-radius: 4px;

  color: #ffffff;
  fill: #ffffff;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.88;
  text-decoration: none;
  background: var(--accent-color);
}

.subscribe input {
  display: block;
  background-color: var(--bg-secondary-color);
  border: 1px solid rgba(255, 255, 255, 0.3);
  border-radius: 4px;
  margin-right: 12px;

  width: 358px;
  padding: 15px;
  font-size: 16px;
  line-height: 1.25;

  color: rgba(255, 255, 255, 0.6);
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 20px;
  letter-spacing: 1.25;
}

.subscribe-icon {
  margin-left: 10px;
  fill: #ffffff;
}

.subscribe-action {
  display: inline-flex;
  margin-top: 20px;
}

.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.2);
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.backdrop.is-hidden {
  opacity: 0;
  pointer-events: none;
}

.backdrop.is-hidden .modal {
  transform: translate(-50%, -50%) scale(1.2);
}

.modal {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) scale(0.8);

  min-width: 528px;
  min-height: 581px;
  background-color: #fff;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 4px;
  cursor: pointer;

  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal button.close {
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;

  top: 8px;
  right: 8px;
  width: 30px;
  height: 30px;
  border-radius: 50%;

  cursor: pointer;

  background-color: #ffffff;
  border: 1px solid rgba(0, 0, 0, 0.1);
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal button.close:hover,
.modal button.close:focus {
  fill: var(--accent-color);
}

.order-form {
  width: 528px;
  margin-left: auto;
  margin-right: auto;
  padding: 40px;
  cursor: pointer;
}
.order-form-title {
  margin-top: 0;
  margin-bottom: 12px;
  color: var(--secondary-color);
  font-family: Roboto;
  font-style: normal;
  font-weight: bold;
  font-size: 20px;
  line-height: 1.15;
  text-align: center;
  letter-spacing: 0.03em;
}

.order-form-field {
  position: relative;
  display: flex;
  flex-direction: column;
  margin-bottom: 10px;
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.01em;
  cursor: pointer;
  color: var(--primary-text-color);
}

.order-form-field .info-input {
  position: relative;
  margin-top: 4px;
  padding: 14px 14px 14px 40px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  cursor: pointer;
  transition: border 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.order-form-field .info-input:hover {
  border: 1px solid var(--accent-color);
}

.order-form-field .info-input:focus {
  border: 1px solid var(--accent-color);
  outline: none;
}

.order-form-field .info-input:focus + .icon-order-form,
.order-form-field .info-input:hover + .icon-order-form {
  fill: var(--accent-color);
}

.icon-order-form {
  position: absolute;
  bottom: 15px;
  left: 15px;
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.order-form-submit {
  display: block;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  padding: 10px 32px;
  border: 1px solid var(--accent-color);
  border-radius: 4px;

  color: #ffffff;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.88;
  text-decoration: none;
  background: var(--accent-color);
}

.comment-text {
  margin-top: 4px;
  padding: 12px 16px;
  border-radius: 4px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;

  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.01em;
  cursor: pointer;
  color: var(--primary-text-color);
  transition: border 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.comment-text:focus,
.comment-text:hover {
  border: 1px solid var(--accent-color);
  outline: none;
}

.order-form-field.checkbox {
  display: inline-flex;
  flex-flow: row;
  /* align-items: flex-start;
  flex-wrap: wrap; */
}

.checkbox-link {
  display: block;
  margin-left: 5px;
  color: var(--accent-color);
}
.box {
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;

  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.checkbox-icon {
  display: inline-flex;
  width: 16px;
  height: 15px;
  margin-right: 8px;

  border: 2px solid #212121;
  border-radius: 4px;
}

.box:checked + .checkbox-icon {
  background-color: var(--accent-color);
  background-image: url(../images/checkedbox.svg);
  background-size: contain;
  background-origin: border-box;
  border-radius: 2px;
  border: 0.2px solid var(--accent-color);
}
